<header> </header>

<h2> Welcome to SideTable </h2>

<div id="content">
</div>
<footer> </footer>

<script type="text/javascript">
  currentUserEmail = "<%= current_user.email %>"
  currentUserId = "<%= current_user.id %>"
  currentUserName = "<%= current_user.name %>"
</script>
