<div class="input-group">
  <input type="text" name="title" class="form-control search-field" placeholder="Find games by name">
  <span class="input-group-btn">
    <button class="btn btn-default" type="submit">Go!</button>
  </span>
</div>
