<div class="input-group">
  <label>Search Games
    <input type="text" name="title" class="form-control search-field" placeholder="Find games by name">
  </label>
  <span class="input-group-btn">
    <input type="submit" value="Go!">
  </span>
</div>
