<% if (shelves.length > 0) { %>
  <h4>All Shelves</h4>
  <ul class="shelf-index-list">
  </ul>
<% } %>
<% if( shelves.user_id === CurrentUser.id ) { %>
  <div class="new-shelf">
    <a href="#/shelves/new" class="new-shelf">Add Another Shelf</a>
  </div>
<% } %>
