<% if (shelves.length > 0) { %>
  <h4>All Shelves</h4>
  <ul class="shelf-index-list row">
  </ul>
<% } %>
<div class="row">
  <% if( shelves.user_id === CurrentUser.id ) { %>
    <div class="new-shelf">
    </div>
  <% } %>
</div>
