<% %>
<div class="row container">
<h3><%= shelf.escape('title')  %></h3>
</div>
<div class="row container">
<div class="shelf-list col-sm-4 col-md-3">
</div>

<div class="shelf col-md-9 col-sm-8">
  <div class="row">
    <div class="search col-xs-12">
    </div>
  </div>
  <div class="row">
    <ul class="shelf-show-long col-xs-12">
    </ul>
  </div>
</div>
