<% var notLoggedIn = typeof CurrentUser === "undefined" || 
                  $.isEmptyObject(CurrentUser); %>
<% var loggedIn = !notLoggedIn %>

<div class="navbar-logo">
  <h1>SideTable</h1>
</div>
<div class="navbar-links">
  <ul class="navbar-links-list clearfix">  
    <li class="navbar-link"><a href="#">Home</a></li>
    <% if (loggedIn) { %>
      <li class="navbar-link"><a href="#shelves">My Games</a></li>
      <li class="navbar-link"><a href="#recommendations">Recommendations</a></li>
    <% } %>
    <li class="navbar-link"><a href="#explore">Explore</a></li>
  </ul>
</div>
<% if (notLoggedIn) { %>
  <div class="sign-up">
    <a href="/users/new">Sign Up!</a>
  </div>
<% } else { %>
  <div class="navbar-notifiers">
    <form method="post" action="/session" class="button_to sign-out">
      <input type="hidden" 
             name="authenticity_token"
             value="<%= $('meta[name="csrf-token"]').attr('content') %>" >
      <input type="hidden" name="_method" value="delete" />
      <div><input value="Log Out" type="submit" /></div>
    </form>
  </div>
<% } %>
